# Python cache
__pycache__/
*.pyc


# Logs and outputs
*.log
*.csv
results/
wandb/
*.pt
*.pkl
*.png

# path
model/
visualization/
importance/
fig_folder/
etc/


# Shell scripts (optional)
*.sh
# Raw or generated data
synthetic_data/
data/
datasets/
dataset/

# Optional visualization/test datasets
GraphXAI/

